body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
   background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

hr{ border: solid 2px;
	border-color: teal;
	max-width: 65px;}

h1{ color: silver;
	
	
	
	
}



.buffer { height: 140px

}

.btn { font-weight: 700;
	border-radius:  100px;
	text-transform: uppercase; 
}
 
.btn-xl{ 
	background-color: teal;
	padding: 1rem 2rem;

 }

 .btn-primary{
 	background-color: teal;
 	border-color: teal;

 }
 .btn-primary:hover {
	background-color: #123552;
	border-color: #123552;
 }

/* #123552 */